html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffeff5;
}

.main {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}